*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $font-body;
}

body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  min-width: 100vw;
  min-height: 100vh;
  background: $bg-4;
}

main {
  flex-grow: 2;
  margin: 7rem 1rem 5rem;

  @include ptt {
    margin: 7rem clamp(5rem, 12vmin, 13rem) 5rem;
  }

  @include big-screen {
    max-width: 1500px;
    margin: 7rem auto 5rem;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $font-title;
}

h1 {
  text-align: center;
  margin: 1rem auto 2rem;
  font-weight: 400;

  @media (min-width: 600px) {
    margin: 0 auto 1.6rem;
    font-size: clamp(2rem, 4vw, 3rem);
  }
}

h2 {
  font-family: $font-body;
  font-size: clamp(1.2rem, 5vmin, 1.5rem);
  font-weight: 580;
  margin-bottom: 1.2rem;
}

ul,
li {
  list-style: none;
}
