@font-face {
  font-family: "Gotu";
  src: url("/public/assets/fonts/Gotu-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-reg";
  src: url("/public/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ita";
  src: url("/public/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf");
}
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat-reg", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  min-width: 100vw;
}

header,
footer {
  flex-grow: 1;
}

main {
  flex-grow: 2;
}

h1,
h2,
h3,
h4 {
  font-family: "Gotu", sans-serif;
}

ul,
li {
  list-style: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f8ff;
  background: #2c61c9;
  border: none;
  border-radius: 5px;
}
.btn-menu {
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.header-mobile {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: clamp(5rem, 12vh, 6rem);
  background: #354b77;
  border-radius: 0 0 20px 20px;
  position: fixed;
  overflow: hidden;
}
.header-mobile .header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 90vw;
}
@media (min-width: 1000px) {
  .header-mobile .header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.header-mobile .header-container .header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.header-mobile .header-container img {
  max-width: 100px;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 75vh;
  background: #dfe3ec;
  position: fixed;
  bottom: -100vh;
  transition: transform 0.3s ease-out;
  border-radius: 80px 80px 0 0;
  border-top: 1px solid black;
  box-shadow: 0px -5px 10px 1px rgba(0, 0, 0, 0.3019607843);
  z-index: -1;
}
@media screen and (min-width: 500px) {
  .nav-mobile {
    display: none;
  }
}
.nav-mobile li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(10px, 4vmin, 15px) clamp(10px, 5vmin, 40px);
  background: #748cbc;
  border-radius: 15px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #f5f8ff;
}
@media (min-width: 425px) {
  .nav-mobile li {
    padding: clamp(1rem, 6vmin, 1.5rem) clamp(1rem, 7vmin, 2rem);
  }
}
.nav-mobile a {
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  color: #f5f8ff;
  user-select: none;
}
.nav-mobile a:visited {
  color: #f5f8ff;
}
.nav-mobile.open {
  animation: bounce-up 0.6s ease-out forwards;
}
.nav-mobile.close {
  animation: bounce-down 0.3s ease-out forwards;
}
.nav-mobile .nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(20px, 8vmin, 40px);
  position: relative;
  min-height: 75vh;
  min-width: 95vw;
}
.nav-mobile .line {
  width: 150px;
  height: 7px;
  background: #2c61c9;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.nav-mobile .profile-icon {
  display: flex;
  align-items: center;
  gap: clamp(30px, 15vmin, 60px);
}
.nav-mobile .profile-icon a {
  min-width: clamp(60px, 20vmin, 80px);
  min-height: clamp(60px, 20vmin, 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(10px, 3vmin, 1.6rem);
  border-radius: 50%;
  background: #2c61c9;
}
.nav-mobile .profile-icon i {
  font-size: 2rem;
}
.nav-mobile .menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: clamp(10px, 8vmin, 40px);
  overflow: hidden;
}
.nav-mobile .sub-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  min-height: 70%;
  padding-bottom: 2.5rem;
  position: absolute;
  bottom: 0;
  left: 101vw;
  z-index: 10;
  background: #dfe3ec;
  transition: transform 0.3s ease-out;
}
.nav-mobile .sub-menu.move-in {
  transform: translateX(-101vw);
}
.nav-mobile .sub-menu li {
  padding: 2vmin 4vmin;
  min-width: clamp(240px, 88vmin, 21rem);
  border-radius: 10px;
}
.nav-mobile .sub-menu i {
  color: #748cbc;
  font-size: 2.5rem;
}
.nav-mobile .sub-menu span {
  color: #222222;
  font-size: 1.3rem;
}
.nav-mobile .sub-menu-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@keyframes bounce-up {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-105vh);
    z-index: 2;
  }
  80% {
    transform: translateY(-97vh);
    z-index: 2;
  }
  100% {
    transform: translateY(-100vh);
    z-index: 2;
  }
}
@keyframes bounce-down {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
    z-index: -1;
  }
}

/*# sourceMappingURL=style.css.map */
