@font-face {
  font-family: "Gotu";
  src: url("assets/fonts/Gotu-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-reg";
  src: url("assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ita";
  src: url("assets/fonts/Montserrat-Italic-VariableFont_wght.ttf");
}
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat-reg", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  min-width: 100vw;
  min-height: 100vh;
  background: #f4f4f5;
}

main {
  flex-grow: 2;
  margin: 7rem 1rem 5rem;
}
@media (min-width: 600px) {
  main {
    margin: 7rem clamp(5rem, 12vmin, 13rem) 5rem;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Gotu", sans-serif;
}

h1 {
  text-align: center;
  margin: 1rem auto 1.6rem;
  font-weight: 400;
}
@media (min-width: 600px) {
  h1 {
    margin: 0 auto 1.6rem;
    font-size: clamp(2rem, 4vw, 3rem);
  }
}

h2 {
  font-family: "Montserrat-reg", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

ul,
li {
  list-style: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
}
.btn-menu {
  color: #f5f8ff;
  background: #2c61c9;
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  font-size: 1.1rem;
}
.btn-level2 {
  color: #2c61c9;
  background: #f5f8ff;
  border: 2px solid #2c61c9;
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;
  text-decoration: none;
}
.btn-level2:visited {
  color: #2c61c9;
}
.btn-small {
  padding: 0.1rem 0.3rem;
  font-size: 0.7rem;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  max-height: 75vh;
  max-width: 35rem;
  margin: 0 auto;
  padding: 1rem 1.2rem 0.9rem;
  background: #dfe3ec;
  border-radius: 15px;
}
.news .carousel {
  min-height: clamp(15rem, 45vmin, 33rem);
  max-width: clamp(12rem, 45vmin, 26rem);
  margin-top: 1rem;
}
@media (min-width: 600px) {
  .news .carousel {
    padding: 0 0.6rem;
  }
}
.news .swiper-wrapper {
  margin-bottom: 3rem;
}
.news .card {
  border-radius: 12px;
}
.news .card a {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  position: relative;
  height: clamp(13rem, 42vmin, 25rem);
}
.news .card-title {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 12px 12px;
  background: rgba(240, 240, 240, 0.4);
  padding: 0.4rem 0.6rem;
}
@media (min-width: 600px) {
  .news .card-title {
    padding: 1.2rem 0.6rem;
  }
}
.news .card h3 {
  text-align: right;
  font-size: clamp(0.9rem, 0.5vmin, 1.2rem);
  color: #f5f8ff;
  border-radius: 12px;
  text-shadow: none;
}
.news .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  border-radius: 12px;
}
.news .btn-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article img {
  width: 100%;
  max-width: 36rem;
  object-fit: cover;
  border-radius: 12px;
}
@media (min-width: 600px) {
  .article-details h1 {
    font-size: clamp(2rem, 4vw, 2.5rem);
  }
}
.article-details .btn-container {
  display: flex;
  align-items: center;
  margin: 1.2rem 0;
  min-width: 100%;
}
.article-details .article-datetime {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  max-width: 36rem;
  margin-bottom: 1.2rem;
  padding-right: 0.6rem;
  font-style: italic;
}
.article-details p {
  padding: 0.6rem;
  margin: 2rem 0;
  background: #dfe3ec;
  border-radius: 12px;
  text-align: justify;
}
@media (min-width: 600px) {
  .article-details p {
    margin: 2.5rem 0;
  }
}
.article-details .additional-img {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: scroll;
  margin-bottom: 1.7rem;
}
.article-details .additional-img img {
  width: 45%;
  max-width: 20rem;
  margin: 0 0.6rem 0.6rem;
}
.article-overview {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dfe3ec;
  padding: clamp(0.6rem, 3vmin, 1.5rem);
  margin-bottom: 1.5rem;
  max-width: 100%;
  border-radius: 12px;
}
.article-overview:last-child {
  margin-bottom: 0;
}
@media (min-width: 600px) {
  .article-overview {
    max-width: 35rem;
    margin-bottom: 0;
    margin: 1rem;
  }
}
.article-overview h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}
.article-overview img {
  margin-bottom: 0.6rem;
}
.article-overview p {
  padding: 0.6rem 0.6rem 0.9rem;
  width: 100%;
  max-width: 36rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}
.article-overview .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}
.article-overview span {
  font-size: 0.9rem;
  font-style: italic;
}
.article-overview .btn-container,
.article-overview span {
  display: flex;
  align-items: center;
}

.articles-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header {
  display: flex;
  justify-content: center;
  width: 100vw;
  background: #354b77;
  border-radius: 0 0 20px 20px;
  position: fixed;
  z-index: 100;
}

.header-mobile {
  min-height: clamp(5rem, 12vh, 6rem);
  overflow: hidden;
}
@media (min-width: 600px) {
  .header-mobile {
    display: none;
  }
}
.header-mobile .header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 90vw;
}
.header-mobile .header-container .header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.header-mobile .header-container img {
  max-width: 100px;
}

.header-desktop {
  display: none;
}
@media (min-width: 600px) {
  .header-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
  }
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 75vh;
  background: #dfe3ec;
  position: fixed;
  bottom: -100vh;
  transition: transform 0.3s ease-out;
  border-radius: 80px 80px 0 0;
  border-top: 1px solid black;
  box-shadow: 0px -5px 10px 1px rgba(0, 0, 0, 0.3019607843);
  z-index: -1;
}
@media screen and (min-width: 600px) {
  .nav-mobile {
    display: none;
  }
}
.nav-mobile li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(10px, 4vmin, 15px) clamp(10px, 5vmin, 40px);
  background: #748cbc;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 500;
  color: #f5f8ff;
}
@media (min-width: 425px) {
  .nav-mobile li {
    padding: clamp(1rem, 6vmin, 1.5rem) clamp(1rem, 7vmin, 2rem);
  }
}
.nav-mobile a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #f5f8ff;
  user-select: none;
}
.nav-mobile a:visited {
  color: #f5f8ff;
}
.nav-mobile.open {
  animation: bounce-up 0.6s ease-out forwards;
}
.nav-mobile.close {
  animation: bounce-down 0.3s ease-out forwards;
}
.nav-mobile .nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(20px, 8vmin, 40px);
  position: relative;
  min-height: 75vh;
  min-width: 95vw;
}
.nav-mobile .line {
  width: 150px;
  height: 7px;
  background: #2c61c9;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.nav-mobile .profile-icons {
  display: flex;
  align-items: center;
  gap: clamp(30px, 15vmin, 60px);
}
.nav-mobile .profile-icons a {
  min-width: clamp(60px, 20vmin, 80px);
  min-height: clamp(60px, 20vmin, 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(10px, 3vmin, 1.6rem);
  border-radius: 50%;
  background: #2c61c9;
}
.nav-mobile .profile-icons i {
  font-size: 2rem;
}
.nav-mobile .menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: clamp(10px, 8vmin, 40px);
  overflow: hidden;
}
.nav-mobile .sub-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  min-height: 70%;
  padding-bottom: 2.5rem;
  position: absolute;
  bottom: 0;
  left: 101vw;
  z-index: 10;
  background: #dfe3ec;
  transition: transform 0.3s ease-out;
}
.nav-mobile .sub-menu.move-in {
  transform: translateX(-101vw);
}
.nav-mobile .sub-menu li {
  padding: 2vmin 4vmin;
  min-width: clamp(240px, 88vmin, 21rem);
  border-radius: 10px;
}
.nav-mobile .sub-menu i {
  color: #748cbc;
  font-size: 2.5rem;
}
.nav-mobile .sub-menu span {
  color: #222222;
  font-size: 1.3rem;
}
.nav-mobile .sub-menu-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@keyframes bounce-up {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-105vh);
    z-index: 2;
  }
  80% {
    transform: translateY(-97vh);
    z-index: 2;
  }
  100% {
    transform: translateY(-100vh);
    z-index: 2;
  }
}
@keyframes bounce-down {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
    z-index: -1;
  }
}

.nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vmin;
  min-width: 98%;
}
@media (min-width: 1300px) {
  .nav-desktop {
    padding: 0 0.6rem;
  }
}
.nav-desktop a {
  color: #f5f8ff;
  text-decoration: none;
  font-family: "Monserrat-ita", sans-serif;
}
.nav-desktop a:visited {
  color: #f5f8ff;
}
.nav-desktop img {
  max-width: clamp(4rem, 10vmin, 8rem);
}
.nav-desktop .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 2;
  margin: 0 0.6rem;
  max-width: 1000px;
}
@media (min-width: 600px) {
  .nav-desktop .menu {
    justify-content: space-around;
  }
}
.nav-desktop .menu > li {
  font-weight: 600;
  padding: 0.6rem 0.3rem;
  position: relative;
  text-align: center;
}
.nav-desktop .menu > li:hover .sub-menu {
  transition: opacity 0.3s linear;
  opacity: 1;
  transform: translate(-50%, 0);
  z-index: 5;
}
.nav-desktop .menu > li:nth-of-type(2) {
  min-width: 4.3rem;
}
.nav-desktop .sub-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 54px;
  left: 50%;
  transform: translate(-50%, -100px);
  min-width: 17rem;
  min-height: 4rem;
  background: #748cbc;
  opacity: 0;
  z-index: -5;
}
.nav-desktop .sub-menu li {
  font-weight: normal;
  min-width: 100%;
  border-top: 1px solid #f5f8ff;
  text-align: center;
  padding: 0.4rem;
}
.nav-desktop .sub-menu li:last-of-type {
  border-bottom: 1px solid #f5f8ff;
}
.nav-desktop .tablet-responsive {
  display: none;
}
@media (min-width: 600px) {
  .nav-desktop .tablet-responsive {
    display: block;
    position: relative;
  }
  .nav-desktop .tablet-responsive i {
    color: #f5f8ff;
    font-size: 1.2rem;
  }
  .nav-desktop .tablet-responsive .other-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 54px;
    right: -50px;
    transform: translateY(-100px);
    min-width: 7rem;
    min-height: 4rem;
    background: #354b77;
    opacity: 0;
  }
  .nav-desktop .tablet-responsive .other-links li {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    padding: 0.6rem;
    border-top: 1px solid #f5f8ff;
  }
  .nav-desktop .tablet-responsive .other-links li:last-of-type {
    border-bottom: 1px solid #f5f8ff;
  }
  .nav-desktop .tablet-responsive:hover .other-links {
    transition: opacity 0.3s linear;
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 1000px) {
  .nav-desktop .tablet-responsive {
    display: none;
  }
}
.nav-desktop .desktop-responsive {
  display: none;
}
@media (min-width: 1000px) {
  .nav-desktop .desktop-responsive {
    display: block;
  }
}
.nav-desktop .profile-icons {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.nav-desktop .profile-icons i {
  font-size: clamp(1.2rem, 2.4vmin, 1.7rem);
  padding: 0.6rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #354b77;
  color: #f5f8ff;
  min-height: 24rem;
  padding: 2rem 0;
  border-radius: 20px 20px 0 0;
}
@media (min-width: 600px) {
  footer {
    min-height: 14rem;
  }
}
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 12rem;
}
footer ul li {
  padding: 0.6rem 1rem;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 600px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: auto;
  }
}
footer .networks-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer .networks-icon a {
  padding: 0.6rem;
}
footer .networks-icon i {
  font-size: 2.5rem;
  color: #f5f8ff;
}
footer p {
  padding: 0.6rem;
}

/*# sourceMappingURL=style.css.map */
