.articles-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;

  .img-container {
    width: 100%;
    max-width: 36rem;
  }

  &-details {
    .btn-container {
      display: flex;
      align-items: center;
      margin: 1.2rem 0;
      min-width: 100%;
    }

    .article-datetime {
      display: flex;
      justify-content: end;
      align-items: center;
      width: 100%;
      max-width: 36rem;
      margin-bottom: 1.2rem;
      padding-right: 0.6rem;
      font-style: italic;
    }

    p {
      padding: 0.6rem;
      margin: 2rem 0;
      background: $bg-3;
      border-radius: 12px;
      text-align: justify;

      @media (min-width: 600px) {
        margin: 2.5rem 0;
      }
    }

    .additional-img {
      max-width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      overflow-y: scroll;
      margin-bottom: 1.7rem;

      img {
        width: 45%;
        max-width: 20rem;
        margin: 0 0.6rem 0.6rem;
      }
    }
  }

  &-overview {
    justify-content: center;
    gap: 1.2rem;
    background: $bg-3;
    padding: clamp(0.8rem, 3vmin, 1.5rem);
    width: 100%;
    max-width: 35rem;
    border-radius: 12px;

    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      margin-bottom: 0;
      min-height: 3.1rem;
    }

    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: justify;
      padding: 0 0.3rem;
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 100%;
    }

    span {
      font-size: 0.9rem;
      font-style: italic;
    }

    .btn-container,
    span {
      display: flex;
      align-items: center;
    }
  }
}
