.articles {
  &-carousel-view {
    a {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: end;
      position: relative;
    }

    &_title {
      display: flex;
      justify-content: end;
      align-items: center;
      width: 100%;
      position: absolute;
      border-radius: 0 0 12px 12px;
      background: rgba(240, 240, 240, 0.4);
      padding: 0.3rem 0.6rem;
    }

    h3 {
      text-align: right;
      font-size: clamp(0.9rem, 0.5vmin, 1.2rem);
      color: $content-light;
      border-radius: 12px;
      text-shadow: none;
    }

    img {
      max-width: 100%;
      // max-width: clamp(15rem, 80vmin, 30rem);
      border-radius: 12px;
    }
  }
}

// .swiper {
//   width: 240px;
//   height: 320px;
// }

// .swiper-slide {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 18px;
//   font-size: 22px;
//   font-weight: bold;
//   color: #fff;
// }
