.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $content-light;
  background: $primary-1;
  border: none;
  border-radius: 5px;

  &-menu {
    padding: 0.6rem 1.2rem;
    font-weight: 600;
    font-size: 1.1rem;
  }
}
