section.facebook-extract {
  padding: 1.2rem;
  // flex: 1 0 1000px;

  // justify-content: center;
  align-items: center;
  // width: fit-content !important;
  // display: none;

  @include from(1000) {
    grid-row: 1/4;
    grid-column: 2/3;
    // width: 100%;
  }

  iframe {
    // display: flex;
    // justify-content: center;
    // width: 100%;
    // min-width: 288px;
  }
}
