.news {
  .carousel {
    min-height: clamp(15rem, 45vmin, 33rem);
    max-width: clamp(12rem, 45vmin, 26rem);
    margin-top: 1rem;

    @media (min-width: 600px) {
      padding: 0 0.6rem;
    }
  }

  .swiper-wrapper {
    margin-bottom: 3rem;
  }

  .card {
    border-radius: 12px;

    a {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: end;
      position: relative;
      height: clamp(13rem, 42vmin, 25rem);
    }

    &-title {
      display: flex;
      justify-content: end;
      align-items: center;
      width: 100%;
      position: absolute;
      bottom: 0;
      border-radius: 0 0 12px 12px;
      background: rgba(240, 240, 240, 0.4);
      padding: 0.4rem 0.6rem;

      @media (min-width: 600px) {
        padding: 1.2rem 0.6rem;
      }
    }

    h3 {
      text-align: right;
      font-size: clamp(0.9rem, 0.5vmin, 1.2rem);
      color: $content-light;
      border-radius: 12px;
      text-shadow: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-position: center;
      // max-width: clamp(15rem, 80vmin, 30rem);
      border-radius: 12px;
    }
  }

  .btn-container {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}
