.news {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  max-height: 75vh;
  max-width: 90vw;
  margin: 0 auto;
  padding: 1rem 1.2rem 0.9rem;
  background: $bg-3;
  border-radius: 15px;

  .carousel {
    min-height: 20rem;
    max-width: 18rem;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
  }

  .pending-articles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    overflow-y: hidden;

    a {
      margin-top: 0.6rem;
      margin-bottom: 0.3rem;
      margin-right: 0.6rem;
      min-width: 25vmin;

      &:last-of-type {
        margin-right: 0;
      }

      h3 {
        font-size: 0.5rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: calc(100% - 1rem);
      }
    }

    .article-carousel-view_title {
      padding: 0.15rem 0.3rem;
    }
  }
}
