{% extends 'base.html.twig' %}

{% block title %}USMV Badminton - Adhésions{% endblock %}

{% block main %}

    <main class="membership">
        <h1>Adhésion</h1>
        <div class="prices-container">
            <h2>Tarif (cotisation annuelle)</h2>
            <table>
                <tr>
                    <td>Jeunes Villeparisiens</td>
                    <td>105€</td>
                </tr>
                <tr>
                    <td>Jeunes Hors Villeparisis</td>
                    <td>120€</td>
                </tr>
                <tr>
                    <td>Adultes Villeparisiens</td>
                    <td>115€</td>
                </tr>
                <tr>
                    <td>Adultes Hors Commune</td>
                    <td>130€</td>
                </tr>
            </table>
        </div>
        <div class="procedure">
            <h2><span>"Engagez-vous,</span><span>rengagez-vous !"</span></h2>
            <img src="/assets/img/adhesion.png" alt="représentation d'une affiche dont le but est de recruter des membres">
            <div class="infos">
                <p>
                    Le club de l’USM Villeparisis a adopté une procédure d’adhésion dématérialisée (à l’exception du paiement de la cotisation qui sera à faire lors du premier créneau) à l’aide des outils proposés par la Fédération Française de Badminton.
                </p>
                <p>
                    Fini les dossiers avec pleins de papier à remplir ! Vous n’avez simplement qu’à vous rendre sur le site fédéral !
                </p>
                <p>
                    Cependant, un certificat médical est doit être fourni pour la pratique du badminton en club (sauf pour les mineurs).<br>
                    ATTENTION : votre médecin doit remplir directement le document fédéral !
                </p>
                <p>
                    Vous trouverez ci-dessous les instructions détaillées pour effecuter votre adhésion en fonction de votre situation 👇
                </p>
            </div>
            <div class="btn-container">
                <button class="btn btn-level1">
                    Je prend ma première licence 🆕
                    <i class="fa-solid fa-circle-arrow-down"></i>
                </button>
                <button class="btn btn-level1">
                    Je renouvelle ma licence (adhérent à l’<strong>USMV Badminton</strong> en 2021/2022)
                    <i class="fa-solid fa-circle-arrow-down"></i>
                </button>
                <button class="btn btn-level1">
                    Je renouvelle ma licence (adhérent dans un <strong>autre club</strong> en 2021/2022)
                    <i class="fa-solid fa-circle-arrow-down"></i>
                </button>
            </div>
        </div>
        <div class="downloads">
            <h2>Documents à télécharger</h2>
            <ul>
                <li><a href="#">Fiche de renseignements</a></li>
                <li><a href="#">Certificat médical fédéral</a></li>
                <li><a href="#">Guide inscription en ligne</a></li>
            </ul>
        </div>
        <div class="line"></div>
        <div class="contact-infos">
            <p>
                Pour toute question ou demande d’information complémentaire, vous pouvez contacter la personne en charge des adhésion à l’adresse email suivante :
            </p>
            <a href="mailto:adhesion@villeparisisbadminton77.fr">adhesion@villeparisisbadminton77.fr</a>
        </div>
    </main>

    

{% endblock %}