{% extends 'base.html.twig' %}

{% block title %}USMV Badminton - Adhésions{% endblock %}

{% block main %}

    <main class="membership">
        <h1>Adhésion</h1>
        <div class="prices-container">
            <h2>Tarif (cotisation annuelle)</h2>
            <table>
                <tr>
                    <td>Jeunes Villeparisiens</td>
                    <td>105€</td>
                </tr>
                <tr>
                    <td>Jeunes Hors Villeparisis</td>
                    <td>120€</td>
                </tr>
                <tr>
                    <td>Adultes Villeparisiens</td>
                    <td>115€</td>
                </tr>
                <tr>
                    <td>Adultes Hors Commune</td>
                    <td>130€</td>
                </tr>
            </table>
        </div>

        <div class="procedure">
            <h2><span>"Engagez-vous,</span><span>rengagez-vous !"</span></h2>
            <img src="/assets/img/adhesion.png" alt="représentation d'une affiche dont le but est de recruter des membres">

            <div class="infos">
                <p>
                    Le club de l’USM Villeparisis a adopté une procédure d’adhésion dématérialisée (à l’exception du paiement de la cotisation qui sera à faire lors du premier créneau) à l’aide des outils proposés par la Fédération Française de Badminton.
                </p>
                <p>
                    Fini les dossiers avec pleins de papier à remplir ! Vous n’avez simplement qu’à vous rendre sur le site fédéral !
                </p>
                <p>
                    Cependant, un certificat médical est doit être fourni pour la pratique du badminton en club (sauf pour les mineurs).<br>
                    ATTENTION : votre médecin doit remplir directement le document fédéral !
                </p>
                <p>
                    Vous trouverez ci-dessous les instructions détaillées pour effecuter votre adhésion en fonction de votre situation 👇
                </p>
            </div>

            <div class="procedure-details">
                <div class="container">
                    <button class="btn btn-level1 slider">
                        <i class="fa-solid fa-circle-arrow-down"></i>
                        Je prend ma première licence 🆕
                    </button>
                    <div class="details">
                        <div class="block block-1">
                            <div class="number">1</div>
                            <div class="text">
                                <span>Pour les +18 ans, téléchargez et imprimez le certificat médical vierge de la Fédération Française de Badminton. Prenez rendez-vous chez un médecin pour lui faire remplir la partie encadrée (il restera valable 3 ans au sein du club).<br>
                                N’oubliez pas de signer votre partie !</span>
                                <span> ⚠️ Pour les mineurs : le certificat médical n’est plus obligatoire. Seul un questionnaire de santé est à renseigner en ligne. Passez à l’étape 2.</span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="block block-2">
                            <div class="number">2</div>
                            <div class="text">
                                <span>
                                    Munissez-vous de votre numéro de licence (retrouvable sur myffbad.fr sans inscription préalable, en entrant votre nom en haut de la page “Je recherche … Un joueur”) et remplissez le formulaire de demande de ré-inscription en ligne (éviter le navigateur Safari) en vous connectant à votre compte MyFFBad à l’adresse url suivante (créer un compte si ce n’est pas déjà fait*) :<br>
                                    * saisir votre numéro de licence et cliquez sur “Pas de mot de passe” pour recevoir un email vous invitant à en créer un (vérifier vos courriers indésirables)
                                </span>
                                <div class="links">
                                    <img src="/assets/img/qr-code-adhesion.png" alt="QR Code redirigeant vers le site fédéral d'adhésion au club de Villeparisis Badminton">
                                    <a href="https://adherer.myffbad.fr/usmv77" class="btn btn-level1">https://adherer.myffbad.fr/usmv77</a>
                                </div>
                                <span>
                                    En fonction de la validité de votre certificat médical, on vous demandera soit de remplir un questionnaire de santé, soit d’importer le certificat médical signé par vous et votre médecin. Scannez-le ou photographiez-le pour le joindre au formulaire en ligne (scan à privilégier car la taille du fichier importé est limité).
                                </span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="block block-3">
                            <div class="number">3</div>
                            <div class="text">
                                <span>
                                    Les tarifs sont disponibles sur le site et indiqués sur la fiche de renseignements du club. Par ailleurs, le prix  de votre cotisation vous sera aussi communiqué lors de la saisie de votre formulaire en ligne.
                                </span>
                                <span>
                                    Remettez rapidement votre paiement lors de votre première séance. Paiement possible en trois par chèque(s) libellé à “USMV Badminton”  ou espèces. Une fois votre paiement reçu, un responsable du club validera votre demande d’inscription en ligne. Et voilà, vous êtes licencié à la FFBad et adhérent à l’USMV Badminton 👏 !
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <button class="btn btn-level1 slider">
                        <i class="fa-solid fa-circle-arrow-down"></i>
                        Je renouvelle ma licence (adhérent à l’<strong>USMV Badminton</strong> en 2021/2022)
                    </button>
                    <div class="details">
                        <div class="block block-1">
                            <div class="number">1</div>
                            <div class="text">
                                <span>
                                    Pour les +18 ans, si votre certificat médical date de moins de 3 ans, vous n’avez pas à le refaire ; passez directement à l’étape 2.<br>
                                    Sinon téléchargez et imprimez le certificat médical vierge de la Fédération Française de Badminton que vous présenterez à votre médecin.<br>
                                    N’oubliez pas de signer votre partie !
                                </span>
                                <span class="memory-aid">
                                    ℹ️ Votre mémoire vous fait défaut ? Vous vous demandez de quand date votre certificat médical ? + ou - de 3 ans ? Pas de souci, rendez-vous sur votre compte MyFFBad ➡️ Mon Compte ➡️ Documents Personels. Sinon, avancez dans le formulaire d’adhésion en ligne et si le certificat est nécessaire cette saison, il vous sera demandé 😉
                                </span>
                                
                                <span> ⚠️ Pour les mineurs : le certificat médical n’est plus obligatoire. Seul un questionnaire de santé est à renseigner en ligne. Passez à l’étape 2.</span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="block block-2">
                            <div class="number">2</div>
                            <div class="text">
                                <span>
                                    Munissez-vous de votre numéro de licence (retrouvable sur myffbad.fr sans inscription préalable, en entrant votre nom en haut de la page “Je recherche … Un joueur”) et remplissez le formulaire de demande de ré-inscription en ligne (éviter le navigateur Safari) en vous connectant à votre compte MyFFBad à l’adresse url suivante (créer un compte si ce n’est pas déjà fait*) :<br>
                                    * saisir votre numéro de licence et cliquez sur “Pas de mot de passe” pour recevoir un email vous invitant à en créer un (vérifier vos courriers indésirables)
                                </span>
                                <a href="https://myffbad.fr/connexion" class="btn btn-level1">myffbad.fr/connexion</a>
                                {# <div class="links">
                                    <img src="/assets/img/qr-code-adhesion.png" alt="QR Code redirigeant vers le site fédéral d'adhésion au club de Villeparisis Badminton">
                                </div> #}
                                <span>
                                    En fonction de la validité de votre certificat médical, on vous demandera soit de remplir un questionnaire de santé, soit d’importer le certificat médical signé par vous et votre médecin. Scannez-le ou photographiez-le pour le joindre au formulaire en ligne (scan à privilégier car la taille du fichier importé est limité).
                                </span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="block block-3">
                            <div class="number">3</div>
                            <div class="text">
                                <span>
                                    Les tarifs sont disponibles sur le site et indiqués sur la fiche de renseignements du club. Par ailleurs, le prix  de votre cotisation vous sera aussi communiqué lors de la saisie de votre formulaire en ligne.
                                </span>
                                <span>
                                    Remettez rapidement votre paiement lors de votre première séance. Paiement possible en trois par chèque(s) libellé à “USMV Badminton”  ou espèces. Une fois votre paiement reçu, un responsable du club validera votre demande d’inscription en ligne. Et voilà, vous avez renouvelé votre licence à la FFBad et votre adhésion à l’USMV Badminton 👏 !
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <button class="btn btn-level1 slider">
                        <i class="fa-solid fa-circle-arrow-down"></i>
                        Je renouvelle ma licence (adhérent dans un <strong>autre club</strong> en 2021/2022)
                    </button>
                    <div class="details">
                        <div class="block block-1">
                            <div class="number">1</div>
                            <div class="text">
                                <span>Pour les +18 ans, si votre certificat médical date de moins de 3 ans et que votre ancien club a effectué votre précédente adhésion en ligne, vous n’avez pas à le refaire ; passez directement à l’étape 2.<br>
                                Sinon téléchargez et imprimez le certificat médical vierge de la Fédération Française de Badminton que vous présenterez à votre médecin.<br>
                                N’oubliez pas de signer votre partie !</span>
                                <span> ⚠️ Pour les mineurs : le certificat médical n’est plus obligatoire. Seul un questionnaire de santé est à renseigner en ligne. Passez à l’étape 2.</span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="block block-2">
                            <div class="number">2</div>
                            <div class="text">
                                <span>
                                    Munissez-vous de votre numéro de licence (retrouvable sur myffbad.fr sans inscription préalable, en entrant votre nom en haut de la page “Je recherche … Un joueur”) et connectez-vous à votre compte MyFFBad en cliquant sur le lien ci-dessous (créer un compte si ce n’est pas déjà fait*). Recherchez ensuite le club de l’USMV badminton, cliquez sur “M’inscrire et prendre ma licence dans ce club” puis remplissez le formulaire d’adhésion. <br>
                                    * saisir votre numéro de licence et cliquez sur “Pas de mot de passe” pour recevoir un email vous invitant à en créer un (vérifier vos courriers indésirables)
                                </span>
                                <a href="https://myffbad.fr/connexion" class="btn btn-level1">myffbad.fr/connexion</a>
                                <span>
                                    En fonction de la validité de votre certificat médical, on vous demandera soit de remplir un questionnaire de santé, soit d’importer le certificat médical signé par vous et votre médecin. Scannez-le ou photographiez-le pour le joindre au formulaire en ligne (scan à privilégier car la taille du fichier importé est limité).
                                </span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="block block-3">
                            <div class="number">3</div>
                            <div class="text">
                                <span>
                                    Les tarifs sont disponibles sur le site et indiqués sur la fiche de renseignements du club. Par ailleurs, le prix  de votre cotisation vous sera aussi communiqué lors de la saisie de votre formulaire en ligne.
                                </span>
                                <span>
                                    Remettez rapidement votre paiement lors de votre première séance. Paiement possible en trois par chèque(s) libellé à “USMV Badminton”  ou espèces. Une fois votre paiement reçu, un responsable du club validera votre demande d’inscription en ligne. Et voilà, vous avez renouvelé votre licence à la FFBad et êtes à présent un nouvel adhérent à l’USMV Badminton 👏 !
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="downloads">
            <h2>Documents à télécharger</h2>
            <ul>
                <li><a href="#">Fiche de renseignements</a></li>
                <li><a href="#">Certificat médical fédéral</a></li>
                <li><a href="#">Guide inscription en ligne</a></li>
            </ul>
        </div>
        <div class="line"></div>
        <div class="contact-infos">
            <p>
                Pour toute question ou demande d’information complémentaire, vous pouvez contacter la personne en charge des adhésion à l’adresse email suivante :
            </p>
            <a href="mailto:adhesion@villeparisisbadminton77.fr">adhesion@villeparisisbadminton77.fr</a>
        </div>
    </main>

{% endblock %}