{% extends 'base.html.twig' %}

{% block title %}USMV Badminton - Adhésions{% endblock %}

{% block main %}

    <h1>Adhésion</h1>

    <div class="prices-container">
        <h2>Tarif (cotisation annuelle)</h2>
        <table>
            <tr>
                <td>Jeunes Villeparisiens</td>
                <td>105€</td>
            </tr>
            <tr>
                <td>Jeunes Hors Villeparisis</td>
                <td>120€</td>
            </tr>
            <tr>
                <td>Adultes Villeparisiens</td>
                <td>115€</td>
            </tr>
            <tr>
                <td>Adultes Hors Commune</td>
                <td>130€</td>
            </tr>
        </table>
    </div>

    <div class="procedure">
        <h2>"Engagez-vous, rengagez-vous !"</h2>
    </div>

    <div class="downloads">
        <h2>Documents à télécharger</h2>
    </div>

    

{% endblock %}