{% extends 'base.html.twig' %}

{% block title %}USMV Badminton - Jeunes - Infos pratiques{% endblock %}

{% block main %}

    <main class="youths-infos">
    
        <h1>Créneaux / Infos pratiques</h1>

        <div class="container">
        
            <div class="infos-text">
            
                <p>Les jeunes sont acceptés à partir de 6 ans.</p>
                <p>
                    Toutes les séances sont encadrées et se déroulent exclusivement au gymnase des Petits Marais.
                </p>
                <p>
                    Lors des séances, les jeunes sont répartis en 3 groupes : 
                </p>
                <ul>
                    <li>jeunes loisirs de 6 à 11 ans → entraînement du lundi (18h - 20h)</li>
                    <li>jeunes loisirs de 11 à 16 ans → entraînement du vendredi (18h - 20h)</li>
                    <li>pôle compétition → entraînement lundi & vendredi (18h - 20h)</li>
                </ul>
                <p>
                    Les volants sont fournis à toutes les séances.
                </p>
                <p>
                   Tous nos jeunes joueurs doivent se présenter avec une tenue de sport, une raquette et une paire de chaussures de salle ; on s’occupe du reste 😉 ! 
                </p>
            </div>

            <table>
                <tr>
                    <th>Gymnase des Petits Marais</th>
                    <th>Horaires Jeunes Compétiteurs</th>
                </tr>
                <tr>
                    <td>Lundi</td>
                    <td>18h00 - 20h00</td>
                </tr>
                <tr>
                    <td>Vendredi</td>
                    <td>18h00 - 20h00</td>
                </tr>
                <tr>
                    <td>
                        <span>Dimanche</span>
                        <span>(ouvert à tous)</span>
                    </td>
                    <td>10h00 - 12h00</td>
                </tr>
            </table>

            <p>⚠️ Il n'y a pas d'entraînement jeunes sur les périodes de vacances scolaires ! </p>
        
            <img src="/assets/img/defautl.jpg" alt="photo d'un groupe de jeunes du club à la fin d'un entraînement">

            <div class="sunday-slot">
                <h2>ℹ️ Créneaux du dimanche</h2>
                <p>
                    Le créneau du dimanche est ouvert à tous : loisirs + tous les jeunes  + compétiteurs !<br>
                    Sauf : jours fériés / vacances scolaires et en cas de réquisition du gymnase par la Mairie ; vous serez averti le cas échéant.
                </p>
                <p>
                    ⚠️ Aucun encandrant n’est mis en place sur ce créneau ; seuls les jeunes autonomes ou accompagnés d’un responsable légal pourront avoir accès à ce créneau.
                </p>
            </div>

            <div class="prices-container">
                <h2>Tarifs (cotisation annuelle)</h2>
                <table>
                <tr>
                    <td>Jeunes Villeparisiens</td>
                    <td>105€</td>
                </tr>
                <tr>
                    <td>Jeunes Hors Villeparisis</td>
                    <td>120€</td>
                </tr>
            </table>
            </div>
        </div>

    </main>

{% endblock %}