{% extends "base.html.twig" %}

{% block title %}USMV Badminton - Jeunes - École de Badminton{% endblock %}

{% block main %}

  <main class="youths-school">
  
    <h1>L'école de badminton</h1>

    <div class="container">

      <div class="content content-1">
        <h2>EFB, qu'est-ce que c'est ?</h2>
        <p>
          Une Écolde Française de Badminton (EFB) réserve un accueil de qualité <strong>aux jeunes de 6 à 17 ans</strong> dans des créneaux de jeu au sein des clubs affiliés à la Fédération Française de Badminton. L’encadrement des séances est assuré par des éducateurs diplômés. L’École Française de Badminton permet de <strong>progresser</strong> et de <strong>participer aux premières compétitions</strong>.
        </p>
      </div>

      <div class="content content-2">
        <h2>Notre politique "Jeunes"</h2>
        <p>
          Depuis de nombreuses années, l’USM Villeparisis Badminton mène une <strong>politique sportive basée sur la formation des jeunes et la qualité de l’enseignement</strong>. Notre club étant imprégné d’une culture de la compétition, nous amenons nos jeunes joueurs à s’épanouir sportivement par l’<strong>apprentissage et la découverte des différentes compétitions</strong> que nous pouvons leur proposer. La compétition consitue également un support pédagogique majeur dans le développement des valeurs propres au sport, comme le goût de l’effort, le respect de l’adversaire ou le dépassement de soi.
        </p>
        <p>
          La mise en œuvre de nos actions en faveur des jeunes passe par l’investissement conjugué de nos dirigeants, de nos bénévoles et de notre entraineur, en passant par une politique fédérale (FFBad) et une volonté de la Ligue IDF de Badminton.
        </p>
        <p>
          La politique “Jeunes” menée par l’USMV Badminton se concrétise par la reconnaissance de la qualité de son École de Badminton et l’octroi de la labellisation fédérale “EFB deux étoiles ⭐⭐”.️
        </p>
      </div>

      <h3>"respect et fair-play : les valeurs du badminton"</h3>

      <div class="img-container content-3">
        <img src="/assets/img/default.jpg" alt="">
        <img src="/assets/img/default.jpg" alt="">
      </div>

        <div class="content content-4">
          <h2>Le label EFB 2 étoiles ⭐⭐</h2>
          <div class="img-container">
            <img src="/assets/img/default.jpg" alt="">
            <img src="/assets/img/default.jpg" alt="">
          </div>
          <div class="down">
            <div class="text">
              <h4>Gage de qualité !</h4>
              <p>
                C’est un label qui vise à <strong>récompenser les écoles de formation</strong> des clubs de badminton au niveau national.
              </p>
              <p>
                L’obtention de ce label est déterminée par l’analyse de plusieurs critères, tel que :
              </p>
              <ul>
              <li>Reconnaissance de l’investissement des dirigeants et d’un encadrement de qualité ;</li>
              <li>Possibilité d’impliquer les parents dans la vie associative du club ;</li>
              <li>Possibilité d’évoluer par une évaluation du niveau de l’école ;</li>
              <li>Possibilité de signer des conventions avec les établissements scolaires ;</li>
              <li>Apport d’une aide pédagogique ;</li>
              <li>Le nombre de jeunes par catégories (loisirs et compétiteurs) ;</li>
              <li>Le nombre de créneaux et la qualification des encadrants ;</li>
              <li>La participation des jeunes aux compétitions (individuelles ou par équipes) ;</li>
              <li>Les performances des jeunes aux compétitions nationales ;</li>
              <li>L’organisation et l’accueil de compétitions jeunes</li>
              </ul>
              <p>
                Ce label permet donc la reconnaissance d’un modèle éducatif et sportif, afin que nos jeunes puissent voir leur niveau technique s’améliorer tout en maintenant l’équilibre entre : apprentissage, plaisir de jouer au badminton et motivation.
              </p>
            </div>
            <div class="img-container">
              <img src="/assets/img/default.jpg" alt="photo des jeunes badistes en fin de créneau, en pleine séance d'étirement">
            </div>
          </div>
        </div>

        <div class="sport-section-infos content-5">
          <div class="img-container">
            <img src="/assets/img/default.jpg" alt="photo de l'entrée du collège Gérard Phillipe, partenaire du club pour la section sportive">
          </div>
          <div class="text">
            <h4>Section Sportive de Badminton au collège Gérard Phillipe de Villeparisis</h4>
            <p>
              Depuis 2013, un partenariat existe entre le club de l’USM Villeparisis Badminton et le collège Gérard Phillipe.<br>
              En effet, une section sportive est ouverte à tous les jeunes, de la 6ème à la 3ème, souhaitant combiner études et pratique du badminton avec un emploi du temsp aménagé, un suivi scolaire et médical.
            </p>
            <p>
              <span>Comment inscrire son enfant ?</span>
              Les dossiers d’inscription sont à retirer au secrétariat du collège.<br>
              Des tests de sélection sont passés chaque fin d’année scolaire ; ils sont ouverts à tous les élèves actuellement en CM2, 6ème, 5ème, 4ème, motivés par le badminton et qui désirent le pratiquer régulièrement au collège et en club.
            </p>
          </div>
        </div>
      </div>
    
  </main>

{% endblock %}