{% extends "base.html.twig" %}

{% block title %}USMV Badminton - Jeunes - École de Badminton{% endblock %}

{% block main %}

  <main class="sportSection">

    <h1>La section sportive du collège</h1>

    <div class="description">
      <p>
        La <strong>S</strong>ection <strong>S</strong>portive <strong>S</strong>colaire (S.S.S.) <strong>Badminton</strong> s’adresse aux élèves <strong>des écoles primaires et des collèges</strong> alentours qui souhaitent accèder à des performances sportives de <strong>niveau départemental, régional voire national</strong>.
      </p>
      <p>
        Elle permet pour les meillerus d’aborer le haut niveau de pratique sportive tout en suivant une scolarité dans de bonnes conditions et avec toutes les chances de succès dans leurs études et aux examens.
      </p>
      <p>
        Elle offre aux élves la possibilité de vivre <strong>“leur passion”</strong> pour le badminton dans un établissement de <strong>proximité</strong>.
      </p>
      <p>
        Elle contribue également à développer des compétences qui participent à la <strong>réussite scolaire</strong>.
      </p>
    </div>

    {# <div class="alert-message">
      La période de recrutement est actuellement fermée. Merci de vous rapprocher du professeur d'EPS responsable de la section, Mme RATIER, pour de plus d'informations.
    </div> #}

    {# <div class="img-container">
      <img src="{{ asset("assets/img/default.jpg") }}" alt="affiche de recrutement pour la section sportive">
    </div>

    <div class="professor-msg">
      <h2>Recrutement section sportive badminton 2023/2024</h2>
      <div class="text">
        <p>
          Pour rappel, la section sportive est une option à part entière proposée au sein du collège à tous les élèves sportifs, motivés par le badminton et qui désirent le pratiquer régulièrement en mêlant ainsi parcours scolaire et sportif. À ce propos, une évaluation sera réalisée chaque trimestre et sera inscrite sur le bulletin trimestriel de l’élève, ceci sur l’ensemble de sa scolarité.
        </p>
        <p>
          Concernant l’emploi du temps, 4 heures hebdomadaires viennents s’ajouter et ceci sur les 4 années de collège (le mardi et jeudi de 16h à 18h. À cela s’ajoutent, les compétitions obligatoires dans le cadre de l’association sportive qui ont lieu le mercredi après-midi (en contexte “normal”), environ 2 à 4 sur l’année. De plus, un partenariat sportif complémentaire ets mis en place avec le club de Badminton de Villeparisis (USMV) afin que votre enfant puisse poursuivre scolaire et sportif.
        </p>
        <p>
          Si votre enfant est intéressé pour s’inscrire, vous trouverez la brochure d’informations et le dossier candidature nécessaire pour le recrutement en pièces jointes ci-dessus, à lire attentivement.
        </p>
        <p>
          Pour plus d’informations, Mme Ratier est l’enseignante d’EPS responsable et coordinatrice de cette section sportive. Veuillez la contacter par mail :<a href="mailto:pauline.ratier@gmail.com"> pauline.ratier@gmail.com</a>
        </p>
        <p>
          Le dossier candidature est à rendre COMPLET pour le lundi 28 mars 2022 au plus tard, dans une enveloppe fermée au nom de “Mme RATIER” dans la boîte aux lettres du collège Gérard Phillipe ou au secrétariat du collège (fermeture à 17h15) ou au professeur d’EPS responsable de votre enfant.
        </p>
        <p>
          Les tests de sélection auront lieu le mercredi 30 mars 2022 de 13h30 à 16h au gymnase des Petits Marais.
          Le port du masque sera obligatoire dans l’enceinte du gymnase et lors de certains exercices des tests.
        </p>
      </div> #}
    </div>
  </main>

{% endblock %}