{% extends "base.html.twig" %}

{% block title %}USMV Badminton - Jeunes - École de Badminton{% endblock %}

{% block main %}

  <main class="youths-tournament-form">
    <h1>Demande d'inscription à un tournoi jeunes</h1>
  </main>

{% endblock %}