.club-introduction {
  h2 {
    font-family: $font-body;
    font-size: 1.5rem;
    color: $bg-1;
    text-align: center;
    margin-bottom: 1.2rem;

    span {
      color: $danger-1;
    }
  }

  p {
    text-align: justify;
    line-height: 20px;

    &:last-of-type {
      max-width: 60rem;
      margin: 0 auto;
    }

    span {
      font-weight: 580;
    }
  }

  img {
    object-fit: cover;
    border-radius: 3px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;

    @include from(1180) {
      display: grid;
      gap: clamp(0.6rem, 1vw, 1.2rem);
      margin: 0 auto 2rem;
      max-width: 60rem;
    }

    &-1 {
      @include from(1180) {
        grid-template-columns: 34% 1fr;
        grid-template-rows: 1fr 44%;
      }
    }

    &-2 {
      @include from(1180) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
      }
    }

    .img {
      &-1 {
        height: clamp(19rem, 94vmin, 25rem);
        width: clamp(12rem, 60vmin, 16rem);

        @include from(1180) {
          height: 40rem; //70vh;
          width: 20rem; // 25vmin;
          grid-row: 1/3;
        }
      }

      &-2 {
        height: clamp(11rem, 56vmin, 15rem);
        width: clamp(16rem, 80vmin, 22rem);

        @include from(1180) {
          display: flex;
          justify-self: flex-end;
          align-self: flex-end;
          height: 17rem;
          width: 38rem;
          max-width: 38rem;
        }
      }

      &-3 {
        @include from(1180) {
          justify-self: flex-end;
        }
      }
      &-4 {
        @include from(1180) {
          justify-self: flex-start;
        }
      }

      &-3,
      &-4 {
        height: clamp(11rem, 56vmin, 15rem);
        width: clamp(16rem, 80vmin, 21rem);

        @include from(1180) {
          display: flex;
          height: 18rem;
          width: 29rem;
        }
      }
    }
  }

  .content {
    p {
      padding-bottom: 0.6rem;

      &:last-of-type {
        padding-bottom: 0;
      }
    }

    @include from(1180) {
      // margin-left: auto;
      // margin-right: 0;
      margin: 0 0 auto auto;
      max-width: 38rem;
    }
  }
}
