.membership {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  h2 {
    text-align: center;
    font-size: clamp(1.3rem, 6vmin, 1.5rem);
  }

  p {
    text-align: justify;
  }

  table {
    color: $content-light;
    margin: 0 auto;
    border-radius: 12px;
    background: $bg-2;
    border: 1px solid $content-light;
    border-collapse: collapse;
  }

  tr {
    td:first-of-type {
      width: clamp(13rem, 65vw, 30rem);
    }

    td:last-of-type {
      width: clamp(5rem, 25vw, 12rem);
    }
  }

  td {
    font-size: clamp(0.9rem, 4vmin, 1rem);
    text-align: center;
    height: clamp(2rem, 10vmin, 3rem);
    border: 1px solid $content-light;
  }

  // .prices-container {
  //   margin-bottom: 1.6rem;
  // }

  input[type="checkbox"] {
    display: none;
  }

  .procedure {
    margin: 0 auto;
    // margin: 0 auto 1.6rem;
    width: 100%;
    max-width: 63rem;

    @include from(1000) {
      display: grid;
      grid-template-rows: 3rem 1fr;
      grid-template-columns: 0.7fr 1fr;
    }

    h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-column: 1/3;

      @include ptt {
        flex-direction: row;
        justify-content: center;
        gap: 3px;
      }
    }

    img {
      display: block;
      width: clamp(16rem, 83vmin, 22rem);
      height: clamp(22rem, 108vmin, 30rem);
      object-fit: cover;
      margin: 0 auto 1.2rem;
      border-radius: 3px;

      @include from(1000) {
        margin-right: 1.2rem;
        width: clamp(20rem, 32vw, 22rem);
        height: clamp(28rem, 45vw, 30rem);
      }
    }

    .infos {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.6rem;
      margin-bottom: 1.2rem;

      @include ptt {
        align-self: center;
        gap: 1.8rem;
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1.2rem;
      // position: relative;

      @include ptt {
        grid-column: 1/3;
        margin-top: 1.2rem;
        // position: static;
      }

      button.open-overlay {
        display: inline-block;
        min-width: 100%;
        text-align: center;

        @include ptt {
          display: none;
        }
      }

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 150;
        top: 0;
        transform: translateX(150vw);
        background: $bg-4;
        width: 100vw;
        min-height: 2500px;

        @include ptt {
          position: static;
          z-index: 1;
          width: 100%;
          min-height: 0;
          border: 2px solid $primary-1;
          border-radius: 14px;
          overflow: hidden;
          transform: none;
        }

        &-header-mobile {
          display: flex;
          justify-content: center;
          align-items: center;
          background: $primary-1;
          width: 100vw;
          padding: 5rem 0.6rem 1rem;
          border-radius: 0 0 12px 12px;
          color: $content-light;
          position: relative;

          @include ptt {
            display: none;
          }

          i {
            position: absolute;
            top: 1.6rem;
            left: 1rem;
            font-size: 1.5rem;
            z-index: 200;
            color: $content-light;
            padding: 0.6rem;
          }

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 80vw;
            min-height: 2rem;
            font-size: 1.3rem;
            font-weight: 480;
            text-align: center;
            line-height: 25px;
          }
        }
      }

      button.slider {
        display: none;

        @include ptt {
          display: block;
          max-width: 18rem;
          padding: 0.9rem 4rem !important;
          z-index: 2;
          max-width: none;
          min-width: 100%;
          position: relative;
        }

        strong {
          font-weight: 500;
        }

        i {
          display: none;

          @include ptt {
            display: block;
            position: absolute;
            align-self: center;
            margin: auto 0;
            top: 50%;
            right: 1rem;
            z-index: 5;
            transform: translateY(-50%);
            transition: transform 0.3s ease-out;
          }
        }
      }

      .details {
        display: flex;
        flex-direction: column;
        max-width: 95vw;
        overflow: scroll;

        @include ptt {
          max-height: 0rem;
          transition: max-height 0.5s ease-out;
        }

        .block {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 1rem;

          @include ptt {
            gap: 1rem;
            flex-direction: row;
          }

          .number {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0.6rem;
            border: 1.5px solid $bg-1;
            border-radius: 10px;
            min-height: 2.8rem;
            min-width: 2.8rem;
          }

          .text {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            gap: 0.6rem;
            text-align: justify;
            padding: 0.6rem 0.6rem 0.6rem 0;
            line-height: 22px;
          }

          .links {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 0.6rem;

            @include ptt {
              flex-direction: row;
            }

            img {
              height: 10rem;
              width: 10rem;

              @include ptt {
                height: 17rem;
                width: 17rem;
              }
            }

            a {
              max-height: 3rem;
              margin: 0.6rem 0;
              font-size: clamp(1rem, 5vmin, 1.2rem);
            }
          }

          .memory-aid {
            font-style: italic;
          }
        }

        .line {
          max-width: 90%;
          background: $primary-1;
        }
      }
    }
  }

  .downloads {
    h2 {
      text-align: left;
      max-width: 63rem;
      margin-left: auto;
      margin-right: auto;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: min(90%, 58rem);
      margin: 0 auto;
    }

    li {
      list-style-type: "👉";
      margin-bottom: 0.6rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    a {
      padding: 0.3rem;
      color: $link;
      text-decoration: none;
    }
  }

  .line {
    height: 2px;
    width: 100%;
    max-width: 65rem;
    background: $bg-2;
    margin: 0 auto;
    // margin: 2rem auto;
  }

  .contact-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 63rem;
    margin: 0 auto;

    a {
      color: $link;
      font-size: clamp(1rem, 5vmin, 1.2rem);

      &:visited {
        color: $link;
      }
    }
  }
}
