.youths-infos {
  p {
    text-align: justify;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & > p {
      margin-top: -1rem;
      @include from(800) {
        text-align: center;
      }
    }
  }

  .infos-text {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;

    ul {
      margin-top: -0.9rem;
      padding-left: 1.5rem;
    }
    li {
      list-style-type: "▪️";
      padding-top: 0.3rem;

      &:last-of-type {
        padding-bottom: 0.3rem;
      }
    }
  }

  table.schedule {
    border-collapse: collapse;
    max-width: 35rem;
    margin: 0 auto;

    td {
      height: clamp(3rem, 15vmin, 3.5rem);
    }
    th {
      height: clamp(3.5rem, 17.5vmin, 4rem);
    }

    td,
    th {
      text-align: center;
      border: 1px solid black;
      padding: 0.3rem 0.9rem;
      font-size: clamp(0.9rem, 4.5vmin, 1rem);
    }
  }

  .img-container {
    display: flex;
    // flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    // margin: 0 auto;
  }

  img {
    height: clamp(10rem, 50vmin, 22rem);
    width: clamp(18rem, 80vmin, 38rem);
  }

  .sunday-slot {
    p:first-of-type {
      margin-bottom: 0.6rem;
    }
  }

  .prices-container {
    table {
      color: $content-light;
      margin: 0 auto;
      border-radius: 12px;
      background: $bg-2;
      border: 1px solid $content-light;
      border-collapse: collapse;
    }

    tr {
      td:first-of-type {
        width: clamp(13rem, 65vw, 30rem);
      }

      td:last-of-type {
        width: clamp(5rem, 25vw, 12rem);
      }
    }

    td {
      font-size: clamp(0.9rem, 4vmin, 1rem);
      text-align: center;
      height: clamp(2rem, 10vmin, 3rem);
      border: 1px solid $content-light;
    }
  }
}
