<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <header>
            <img src="#" alt="logo">
            <button>Menu</button>
        </header>

        <footer>
            <ul>
                <li>Nous contacter</li>
                <li>Plan du site</li>
                <li>Mentions légales</li>
                <li>Écrire au webmaster</li>
            </ul>
            <div class="networks-icon"></div>
            <p>Copyright © 2022 USMV Badminton</p>
        </footer>

        {% block body %}{% endblock %}
    </body>
</html>
