{% extends 'base.html.twig' %}

{% block title %}USMV Badminton - Compétitions - Créneaux / Infos pratiques{% endblock %}

{% block main %}

    <main class="competitions-infos">
    
        <h1>Créneaux / Infos pratiques</h1>

        <div class="container">
            <div class="slots">
                <h2>Créneaux</h2>
                <div class="up">
                    <div class="text">
                        <p>
                            Les créneaux réservés aux compétiteurs se déroulent exclusivement au gymnase des Petits Marais.
                        </p>
                        <p>
                            Les volants sont fournis le vendredi pour l’entraînement. En revanche, les joueurs doivent apporter leurs propres volants sur les créneaux pour le jeu libre.
                        </p>
                        <p>
                            Les créneaux d’entraînement marque une pause sur les périodes de vacances scolaires.
                        </p>
                    </div>
                    <table class="schedule">
                        <tr>
                            <td></td>
                            <th>Horaires Adultes Compétiteurs</th>
                        </tr>
                        <tr>
                            <th>Lundi</th>
                            <td>
                                <span>20h00 - 22h30</span>
                                <span>Jeu libre</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Mercredi</th>
                            <td>
                                <span>20h30 - 22h30</span>
                                <span>Jeu libre</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Vendredi</th>
                            <td>
                                <span>20h00 - 22h30</span>
                                <span>Entraînement</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <span>Dimanche</span>
                                <span>(ouvert à tous)</span>
                            </th>
                            <td>
                                <span>10h00 - 12h00</span>
                                <span>Jeu libre</span>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="img-container">
                    <img src="/assets/img/default.jpg" alt="">
                    <img src="/assets/img/default.jpg" alt="">
                </div>

                <div class="sunday-slot">
                    <h3>ℹ️ Créneaux du dimanche</h3>
                    <div class="text">
                        <p>Le créneau du dimanche est ouvert à tous : loisirs + tous les jeunes  + compétiteurs !<br></p>
                        <p>Sauf : jours fériés / vacances scolaires et en cas de réquisition du gymnase par la Mairie ; vous serez averti le cas échéant.<br></p>
                        <p>⚠️ Aucun encandrant n’est mis en place sur ce créneau ; seuls les jeunes autonomes ou accompagnés d’un responsable légal pourront avoir accès à ce créneau. </p>
                    </div>
                </div>
            </div>

            <div class="tournaments">
                <h2>Tournois / Compétitions</h2>
                <div class="text">
                    <p>
                        <strong>L’USM Villeparisis Badminton aime la compétition !</strong><br>
                        Nous incitons tous les joueurs à représenter les couleurs du club lors des compétitions officielles (tournois privés et autres championnat…).
                    </p>
                    <p>
                        À ce titre, nous offrons aux joueurs “compétiteurs” (qu’ils soient réguliers ou occasionnels, jeunes ou adultes) la prise en charge de la moitié du prix des frais d’inscription à toutes les compétitions participées dans l’année. Et en cas de finale (gagnée ou perdue) dans un ou plusieurs tableaux, le club rembourse l’autre moitié du prix dans le ou les tableaux concernés !
                    </p>
                    <p>
                        Pour plus de renseignements s’adresser au responsable des inscriptions aux compétitions :<br>
                        <a href="mailto:competitions@villeparisisbadminton77.fr">competitions@villeparisisbadminton77.fr</a>
                    </p>
                    <p>
                        De plus, dans la mesure du possible nous essayons que nos compétiteurs soient plusieurs à être alignés pour les mêmes compétitions, pour plus de convivialité et des week-ends plus sympas !
                    </p>

                </div>
                <div class="img-container">
                    <img src="/assets/img/default.jpg" alt="">
                    <img src="/assets/img/default.jpg" alt="">
                </div>
            </div>

            <div class="partnership">
                <h2>Partenariat Décathlon</h2>
                <div class="text">
                    <p>
                        En tant que membre du club, notre partenaire <strong>Décathlon Pontault-Combault</strong> vous permet de bénéficier de :
                    </p>
                </div>
                <div class="img-container">
                    <img src="/assets/img/default.jpg" alt="">
                </div>
            </div>

            <div class="shuttles">
                <h2>Nos volants 🏸</h2>
                <div class="img-container">
                    <img src="/assets/img/default.jpg" alt="">
                </div>
                <div class="text">
                    <p>
                        Les volants plumes <strong>Perfly FSC 560</strong> sont fournis à tous les entraînements (vendredi).
                    </p>
                    <p>
                        Les volants plumes <strong>Perfly FSC 990</strong> sont fournis pour les matchs d’interclubs départementaux et régionaux. Ils sont également à la vente pour les joueurs du club à un tarif préférenteil (variable chaque saison).
                    </p>
                </div>
                <div class="img-container">
                    <img src="/assets/img/default.jpg" alt="">
                </div>
            </div>

            <div class="prices">
                <h2>Tarifs (cotisation annuelle)</h2>
                <table>
                <tr>
                    <td>Adultes Villeparisiens</td>
                    <td>115€</td>
                </tr>
                <tr>
                    <td>Adultes Hors Villeparisis</td>
                    <td>130€</td>
                </tr>
            </table>
            </div>
        
        </div>

    </main>

{% endblock %}