{% extends 'base.html.twig' %}

{% block title %}USMV Badminton - Compétitions - Entraînements{% endblock %}

{% block main %}

    <main class="competitions-training">
      <h1>Entraînements</h1>
      <div class="container">
        <div class="content">
          <h2>"un bon entraînement, c'est gage de progression quel que soit le niveau"</h2>
          <div class="text">
            <p>
              Pour ses jeunes et pour tous ses compétiteurs, l’USM Villeparisis Badminton a fait le choix d’une entraînement de grande qualité en faisant appel à un tehcnicien reconnu et pédagogue hors-pair, en la personne de Sébastien VINCENT.
            </p>
            <p>
              Si vous êtes un compétiteur et que vous avez à cœur d’améliorer votre classement, de progresser dans tous les compartiments de votre jeu ou tout simplement de devenir plus fort, alors vous apprécierez les entraînements à Villeparisis.
            </p>
            <p>
              <strong>Nos joueurs assidus aux entraînements témoignent tous de progressions significatives en niveau et en classements !</strong>
            </p>
          </div>
          <table class="schedule">
            <tr>
                <td></td>
                <th>Horaires Jeunes Compétiteurs</th>
                <th>Horaires Adultes Compétiteurs</th>
            </tr>
            <tr>
                <th>Vendredi</th>
                <td>
                    <span>18h00 - 20h00</span>
                    <span>Entraînement</span>
                </td>
                <td>
                    <span>20h00 - 22h30</span>
                    <span>Entraînement</span>
                </td>
            </tr>
          </table>
          <div class="text">
            <p>
              <span>Note : </span>
              pour bénéficier des séances d’entraînements, il faut être compétiteur régulier, c’est-à-dire participer régulièrement à des tournois, championnats et/ou interclubs, et détenir un classement. La réalisation de certains exercices d’entraînement (par exemple, les routines) nécessite un niveau minimum que la plupart des joueurs non classés (ou compétiteurs occasionnels) n’ont pas encore acquis.
            </p>
            <p>
              Pour les joueurs loisirs adultes, et/ou non classés, un entraînement est mis en place sur nos créneaux loisirs adultes.<br>
              Nos jeunes joueurs, qu’ils soient loisirs ou compétiteurs, bénéficient des conseils de nos entraîneurs lors des séances du lundi et vendredi tout au long de l’année.
            </p>
      
      
          </div>
        </div>
        <div class="content">
          <h2>Notre entraîneur</h2>
          <h3>Sébastien VINCENT</h3>
          <div class="text">
            <p>Diplôme d'État Supérieur (DES)</p>
            <p>Ancien joueur international</p>
            <p>Anciennement classé TOP 50 Mondial en Double Homme</p>
            <p>Entraîneur de l'équipe de Chambly, quintuple Champion de France par équipe et vice-champion d'Europe par équipe</p>
            <img src="/assets/img/default.jpg" alt="photo de notre entraîneur Sébastien VINCENT lors d'un match officiel">
          </div>
        </div>
      </div>
    </main>

{% endblock %}