.nav-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 75vh;
  background: $bg-3;
  position: fixed;
  bottom: -100vh;
  transition: transform 0.3s ease-out;
  border-radius: 80px 80px 0 0;
  border-top: 1px solid black;
  box-shadow: 0px -5px 10px 1px #0000004d;
  z-index: 2;

  @media screen and (min-width: 600px) {
    display: none;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(10px, 4vmin, 15px) clamp(10px, 5vmin, 40px);
    background: $bg-2;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 500;
    color: $content-light;

    @media (min-width: 425px) {
      padding: clamp(1rem, 6vmin, 1.5rem) clamp(1rem, 7vmin, 2rem);
    }
  }

  a {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: $content-light;
    user-select: none;

    &:visited {
      color: $content-light;
    }
  }

  &.open {
    animation: bounce-up 0.6s ease-out forwards;
    // transform: translateY(-700px);
  }
  &.close {
    animation: bounce-down 0.3s ease-out forwards;
    // transform: translateY(-700px);
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(20px, 8vmin, 40px);
    position: relative;
    min-height: 75vh;
    min-width: 95vw;
  }

  .line {
    width: 150px;
    height: 7px;
    background: $primary-1;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }

  .profile-icons {
    display: flex;
    align-items: center;
    gap: clamp(30px, 15vmin, 60px);

    a {
      min-width: clamp(60px, 20vmin, 80px);
      min-height: clamp(60px, 20vmin, 80px);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: clamp(10px, 3vmin, 1.6rem);
      border-radius: 50%;
      background: $primary-1;
    }

    i {
      font-size: 2rem;
    }
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: clamp(10px, 8vmin, 40px);
    // position: relative;
    overflow: hidden;
  }

  .sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // gap: clamp(20px, 5vmin, 40px);
    min-width: 100%;
    min-height: 70%;
    padding-bottom: 2.5rem;
    position: absolute;
    bottom: 0;
    // left: 0;
    left: 101vw;
    z-index: 10;
    background: $bg-3;
    transition: transform 0.3s ease-out;

    &.move-in {
      transform: translateX(-101vw);
    }
    // &.move-out {
    //   transform: translateX(0);
    // }

    li {
      padding: 2vmin 4vmin;
      min-width: clamp(240px, 88vmin, 21rem);
      border-radius: 10px;
    }

    i {
      color: $bg-2;
      font-size: 2.5rem;
    }

    span {
      color: $content-dark;
      font-size: 1.3rem;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }

  @keyframes bounce-up {
    0% {
      transform: translateY(0);
    }
    60% {
      transform: translateY(-105vh);
      z-index: 2;
    }
    80% {
      transform: translateY(-97vh);
      z-index: 2;
    }
    100% {
      transform: translateY(-100vh);
      z-index: 2;
    }
  }

  @keyframes bounce-down {
    0% {
      transform: translateY(-100vh);
    }
    100% {
      transform: translateY(0);
      z-index: -1;
    }
  }
}

.nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vmin;
  min-width: 98%;

  @media (min-width: 1300px) {
    padding: 0 0.6rem;
  }

  li,
  a {
    color: $content-light;
    text-decoration: none;
    font-family: $font-body-ita;

    &:visited {
      color: $content-light;
    }
  }

  img {
    max-width: clamp(4rem, 10vmin, 8rem);
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
    margin: 0 0.6rem;
    max-width: 1000px;

    @media (min-width: 600px) {
      justify-content: space-around;
    }

    & > li {
      font-weight: 600;
      padding: 0.6rem 0.3rem;
      position: relative;
      text-align: center;

      &:nth-of-type(2):hover:after,
      &:nth-of-type(4):hover:after,
      &:nth-of-type(5):hover:after {
        content: "";
        position: absolute;
        left: 0;
        height: 50px;
        width: 100%;
      }

      &:hover .sub-menu {
        transition: opacity 0.3s linear;
        opacity: 1;
        transform: translate(-50%, 0);
        z-index: 5;
      }

      &:nth-of-type(2) {
        min-width: 4.3rem;
      }
    }
  }

  .sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 54px;
    left: 50%;
    transform: translate(-50%, -200px);
    min-width: 17rem;
    min-height: 4rem;
    background: $bg-2;
    opacity: 0;
    z-index: -5;

    li {
      font-weight: normal;
      min-width: 100%;
      border-top: 2px solid $content-light;
      border-right: 2px solid transparent;
      border-bottom: 2px solid transparent;
      border-left: 2px solid transparent;
      text-align: center;
      padding: 0.5rem;

      &:last-of-type {
        border-bottom: 2px solid $content-light;
      }

      &:hover {
        border: 2px solid $bg-2;
        background: $content-light;
      }

      &:hover a {
        color: $bg-2;
      }
    }
  }

  .tablet-responsive {
    display: none;

    &:hover:after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 50px;
      width: 150%;
    }

    @media (min-width: 600px) {
      display: block;
      position: relative;

      i {
        color: $content-light;
        font-size: 1.2rem;
      }

      .other-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 54px;
        left: 50%;
        transform: translate(-50%, -100px);
        min-width: 7rem;
        min-height: 4rem;
        background: $bg-1;
        opacity: 0;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 100%;
          padding: 0.6rem;
          border-top: 1px solid $content-light;

          &:last-of-type {
            border-bottom: 1px solid $content-light;
          }
        }
      }

      &:hover .other-links {
        transition: opacity 0.3s linear;
        opacity: 1;
        transform: translate(-50%, 0);
      }
    }

    @media (min-width: 1000px) {
      display: none;
    }
  }

  .desktop-responsive {
    display: none;

    @media (min-width: 1000px) {
      display: block;
    }
  }

  .profile-icons {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    i {
      font-size: clamp(1.2rem, 2.4vmin, 1.7rem);
      padding: 0.6rem;
    }
  }
}
