.nav-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 75vh;
  background: $bg-3;
  position: fixed;
  bottom: -100vh;
  // bottom: -700px;
  // transform: translateY(110%);
  transition: transform 0.3s ease-out;
  border-radius: 80px 80px 0 0;
  border-top: 1px solid black;
  box-shadow: 0px -5px 10px 1px #0000004d;
  z-index: -1;

  @media screen and (min-width: 600px) {
    display: none;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(10px, 4vmin, 15px) clamp(10px, 5vmin, 40px);
    background: $bg-2;
    border-radius: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    color: $content-light;

    @media (min-width: 425px) {
      padding: clamp(1rem, 6vmin, 1.5rem) clamp(1rem, 7vmin, 2rem);
    }
  }

  a {
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color: $content-light;
    user-select: none;

    &:visited {
      color: $content-light;
    }
  }

  &.open {
    animation: bounce-up 0.6s ease-out forwards;
    // transform: translateY(-700px);
  }
  &.close {
    animation: bounce-down 0.3s ease-out forwards;
    // transform: translateY(-700px);
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(20px, 8vmin, 40px);
    position: relative;
    min-height: 75vh;
    min-width: 95vw;
  }

  .line {
    width: 150px;
    height: 7px;
    background: $primary-1;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }

  .profile-icons {
    display: flex;
    align-items: center;
    gap: clamp(30px, 15vmin, 60px);

    a {
      min-width: clamp(60px, 20vmin, 80px);
      min-height: clamp(60px, 20vmin, 80px);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: clamp(10px, 3vmin, 1.6rem);
      border-radius: 50%;
      background: $primary-1;
    }

    i {
      font-size: 2rem;
    }
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: clamp(10px, 8vmin, 40px);
    // position: relative;
    overflow: hidden;
  }

  .sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // gap: clamp(20px, 5vmin, 40px);
    min-width: 100%;
    min-height: 70%;
    padding-bottom: 2.5rem;
    position: absolute;
    bottom: 0;
    // left: 0;
    left: 101vw;
    z-index: 10;
    background: $bg-3;
    transition: transform 0.3s ease-out;

    &.move-in {
      transform: translateX(-101vw);
    }
    // &.move-out {
    //   transform: translateX(0);
    // }

    li {
      padding: 2vmin 4vmin;
      min-width: clamp(240px, 88vmin, 21rem);
      border-radius: 10px;
    }

    i {
      color: $bg-2;
      font-size: 2.5rem;
    }

    span {
      color: $content-dark;
      font-size: 1.3rem;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }

  @keyframes bounce-up {
    0% {
      transform: translateY(0);
    }
    60% {
      transform: translateY(-105vh);
      z-index: 2;
    }
    80% {
      transform: translateY(-97vh);
      z-index: 2;
    }
    100% {
      transform: translateY(-100vh);
      z-index: 2;
    }
  }

  @keyframes bounce-down {
    0% {
      transform: translateY(-100vh);
    }
    100% {
      transform: translateY(0);
      z-index: -1;
    }
  }
}
