{% extends "base.html.twig" %}

{% block title %}USMV Badminton - Calendrier{% endblock %}

{% block stylesheets %}
  <link href='/fullcalendar..min.css' rel='stylesheet' />
{% endblock %}

{% block main %}

  <div class="calendar">
  
    <table>

      <thead>
        <tr>
          <th>Lundi</th>
          <th>Mardi</th>
          <th>Mercredi</th>
          <th>Jeudi</th>
          <th>Vendredi</th>
          <th>Samedi</th>
          <th>Dimanche</th>
        </tr>
      </thead>

      <tbody>
      
      </tbody>

    
    </table>
  
  </div>

{% endblock %}

{% block js %}
  <script src='js/fullcalendar.min.js'></script>
  <script>

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth'
      });
      calendar.render();
    });

  </script>
{% endblock %}