{% extends 'base.html.twig' %}

{% block title %}USMV Badminton - Accueil{% endblock %}

{% block main %}

    <h1>Bienvenue à l'USMV Badminton</h1>

    <div class="news">
        <h2>À la une</h2>
        <div class="carousel">
            <div class="main-article"></div>
            <div class="pending-articles"></div>
        </div>
    </div>

    <div class="facebook-extract"></div>
    <div class="calendar"></div>
    <div class="contact-form"></div>

{% endblock %}
