{% extends 'base.html.twig' %}

{% block title %}USMV Badminton - Acteurs du club{% endblock %}

{% block main %}
  <main class="club">
    <h1>Les acteurs du club</h1>

    <section class="contributors">
      <h2>Nos dirigeants</h2>
      
      <ul class="mobile">
        <li><strong>Président</strong> : Marc AUBERT</li>
        <li><strong>Vice-Président</strong> : Harold GANCI</li>
        <li><strong>Trésorière</strong> : Ghislaine GANCI</li>
        <li><strong>Secrétaire</strong> : Yohann DERRIEN</li>
        <li><strong>Resp. Jeunes et EFB</strong> : Harold GANCI</li>
        <li><strong>Resp. Compétitions</strong> : Nicolas MAFFÉÏS</li>
        <li><strong>Resp. Loisirs</strong> : Laurie TENAUD & Phana-Taï LU</li>
        <li><strong>Resp. communication</strong> : Sarah COGEZ</li>
        <li><strong>Resp. matériel</strong> : Vincent BLANC</li>
        <li><strong>Resp. "BadTour" (tournois du club)</strong> : Yohann DERRIEN</li>
        <li><strong>Resp. numérique</strong> : Nicolas MAFFÉÏS</li>
        <li><strong>Resp. sponsoring & mécénat</strong> : Yohann DERRIEN</li>
      </ul>

      <div class="desktop cards">
        <div class="card card-contributors">
          <div class="img-container"></div>
          <h3>Marc AUBERT</h3>
          <div class="description">
            <span>Président</span>
          </div>
        </div>
        
        <div class="card card-contributors">
          <div class="img-container"></div>
          <h3>Ghislaine GANCI</h3>
          <div class="description">
            <span>Trésorière</span>
          </div>
        </div>

        <div class="card card-contributors">
          <div class="img-container"></div>
          <h3>Harold GANCI</h3>
          <div class="description">
            <span>Vice-Président</span>
            <span>Resp. Jeunes & EFB</span>
          </div>
        </div>

        <div class="card card-contributors">
          <div class="img-container"></div>
          <h3>Yohann DERRIEN</h3>
          <div class="description">
            <span>Secrétaire</span>
            <span>Resp. "BadTour"</span>
            <span>Resp. Sponsoring & Mécénat</span>
          </div>
        </div>

        <div class="card card-contributors">
          <div class="img-container"></div>
          <h3>Nicolas MAFFÉÏS</h3>
          <div class="description">
            <span>Resp. Compétitions</span>
            <span>Resp. Adhésions</span>
            <span>Resp. numérique</span>
          </div>
        </div>

        <div class="card card-contributors">
          <div class="img-container"></div>
          <h3>Vincent BLANC</h3>
          <div class="description">
            <span>Resp. matériel</span>
          </div>
        </div>

        <div class="card card-contributors">
          <div class="img-container"></div>
          <h3>Sarah COGEZ</h3>
          <div class="description">
            <span>Resp. communication</span>
          </div>
        </div>

        <div class="card card-contributors">
          <div class="img-container"></div>
          <h3>Phana-Taï LU</h3>
          <div class="description">
            <span>Resp. Loisirs</span>
          </div>
        </div>
        
        <div class="card card-contributors">
          <div class="img-container"></div>
          <h3>Laurie TENAUD</h3>
          <div class="description">
            <span>Resp. Loisirs</span>
          </div>
        </div>

      </div>
    </section>

    <section class="supervisors">
      <h2>Nos encadrants</h2>
      <div class="cards">
        <div class="card card-supervisors">
          {# <div class="img-container"><img src="/assets/img/entraineur.jpg" alt="photo de l'entraîneur"></div> #}
          <div class="img-container"></div>
          <h3>Entraîneur jeunes & adultes compétiteurs</h3>
          <em>Diplôme d'État Supérieur (DES)</em>
          <strong>Sébastien VINCENT</strong>
        </div>
        <div class="card card-supervisors">
          {# <div class="img-container"><img src="/assets/img/encadrant-jeunes.jpg" alt="photo de l'encadrante du groupe jeune"></div> #}
          <div class="img-container"></div>
          <h3>Encadrant entraînements jeunes</h3>
          <div class="supervisors-name"><strong>Sarah COGEZ</strong></div>
        </div>
        <div class="card card-supervisors">
          {# <div class="img-container"><img src="/assets/img/encadrant-jeunes.jpg" alt="photo de des encadrants du groupe loisirs"></div> #}
          <div class="img-container"></div>
          {# <img src="/assets/img/encadrants-loisirs.jpg" alt="photo de des encadrants du groupe loisirs"> #}
          <h3>Encadrants entraînements Adultes loisirs</h3>
          <div class="supervisors-name">
            <strong>Sarah COGEZ</strong>
            <strong>Marc AUBERT</strong>
          </div>
        </div>
      </div>
    </section>

    <section class="technical-officials">
      <h2>Nos officiels techniques</h2>
      <div class="cards">
        <div class="card card-technical-officials">
          <h3>Juge Arbitre Ligue Acrédité (JALA)</h3>
          <ul>
            <li>Harold GANCI</li>
          </ul>
        </div>
        <div class="card card-technical-officials">
          <h3>Juge Arbitre Ligue Stagiaire</h3>
          <ul>
            <li>Nicolas MAFFÉÏS</li>
            <li>Yohann DERRIEN</li>
          </ul>
        </div>
        <div class="card card-technical-officials">
          <h3>Arbitre Fédéral Acrédité (AFA)</h3>
          <ul>
            <li>Harold GANCI</li>
          </ul>
        </div>
        <div class="card card-technical-officials">
          <h3>Arbitre Ligue Acrédité (ALA)</h3>
          <ul>
            <li>Marc AUBERT</li>
            <li>Yohann DERRIEN</li>
          </ul>
        </div>
        <div class="card card-technical-officials">
          <h3>Juge de Ligne International</h3>
          <ul>
            <li>Harold GANCI</li>
          </ul>
        </div>
        <div class="card card-technical-officials">
          <h3>Gestionnaire et Organisateur de compétitions (GEO)</h3>
          <ul>
            <li>Alexis GANCI</li>
            <li>Clément REINBERGER</li>
            <li>Harold GANCI</li>
            <li>Matthieu REINBERGER</li>
            <li>Nicolas MAFFÉÏS</li>
            <li>Yohann DERRIEN</li>
          </ul>
        </div>
      </div>
    </section>


  </main>
{% endblock %}
