{% extends "base.html.twig" %}

{% block title %}USMV Badminton - Présentation du club{% endblock %}

{% block main %}

  <main class="club-introduction">

    <h1>Présentation du club</h1>

    <h2>L'<span>U</span>nion <span>S</span>portive <span>M</span>unicipale de <span>V</span>illeparisis Badminton</h2>

    <div class="container container-1">
      <img src="/assets/img/default.jpg" alt="photo de l'entrée du gymnase" class="img img-1">
      <div class="content">
        <p>
          <span>L’USMV Villeparisis est une association loi 1901 à but non lucratif</span>. Elle comporte plusieurs sections, dont la nôtre : la <span>section badminton</span>, qui existe <span>depuis 1997</span> ! Tout comme sa branche mère, la section dispose également de sa propre instance dirigeante.
        </p>
        <p>
          Le club compte environ 150 membres, mélange de femmes et d’hommes, de jeunes et vétérans, et de joueurs loisirs et compétiteurs. Affilié à la Fédération Française de Badminton (FFBad), il est rattaché à la Ligue Ile-de-France de Badminton (LIFB) et au Comité Départemental de Seine-et-Marne (COBAD77).
        </p>
        <p>
          Notre activité s’articule autour de <span>trois pôles principaux</span> : les <span>jeunes</span>, les joueurs <span>compétiteurs</span> et les joueurs <span>loisirs</span>.
        </p>
        <p>
          Notre club accorde une importance particulière à nos <span>jeunes joueuses et joueurs</span> en mettant l’accent sur la <span>qualité de la formation</span>, le suivi, ainsi que la découverte et l’accession à la performance (participation à des compétitions). À ce titre, notre école de badminton est reconnu sur le plan fédéral en recevant <span>une labellisation deux étoiles</span>, preuve de son excellence.
        </p>
      </div>
      <img src="/assets/img/default.jpg" alt="photo de l'entrée du gymnase" class="img img-2">
    </div>

    <h2>"Un club à dimension humaine</h2>
    <div class="container container-2">
      <p>
        Les joueurs compétiteurs constituent un noyau essentiel, recherchant à allier plaisir de jouer au badminton et performance sportive. Nos compétitrices et compétiteurs représentent donc le club à l’extérieur lors des différents tournois et championnats de tous niveaux. Le club permet à ces joueurs de s’épanouir et de progresser en leur proposant un entraînement de grande quanlité et l’intégration à des équipes de championnat interclubs.<br>
        De plus, le club de Villeparisis organise lui-même deux tournois privés par an (BadTour), permettant de véhiculer une image positive et dynamique auprès des acteurs du monde du badminton de compétition, ainsi que de fédérer l’ensemble de ses membres autour de ces événements sportifs. 
      </p>
      <img src="/assets/img/default.jpg" alt="photo de l'entrée du gymnase" class="img img-3">
      <img src="/assets/img/default.jpg" alt="photo de l'entrée du gymnase" class="img img-4">
      <p>
        Les joueurs loisirs sont un maillon indispensable au cœur et à l’esprit d’un club de badminton. Les notions de plaisir de jeu, de partage et de convivialité y sont très importantes.<br>
        Régulièrement, l’expérience badminton se prolonge et il n’est pas rare que les joueurs se retrouvent autour d’une galette des rois, d’un pot, ou d’une table de restaurant au fil des rencontres et des affinités qui se créent pendant les séances de jeu.
      </p>
    </div>
    <p>
      Pour des informations en détail, comme le classement de nos joueurs ou les statistiques du club (répartition homme/femme, jeunes/adultes, etc), consulter la fiche de l’USMV Badminton sur le site web fédéral : <a href="https://www.myffbad.fr/">myffbad.fr</a>
    </p>
  
  </main>

{% endblock %}